[2014-07-29 13:46] lstolowski opened #1 "Spring profiles support for @changelog or @changeset"
apply changesets only for active profile

[2014-07-29 13:47] lstolowski opened #2 "cope with Multiple changelogs in project"
orderSeq implementation

[2014-07-29 13:47] lstolowski opened #3 "MongoUri support for Monjeez object"
uri with pass/user, host, port, dbname, multiple hosts

[2014-07-29 13:49] lstolowski opened #4 "huge operations support (files?)"
json files for big inserts/updates/deletes

[2014-07-29 19:53] lstolowski opened #5 "unique index on dbchangelog collection"
work out a unique constraint for changesets and ad a collection index for it

[2014-07-30 13:00] lstolowski opened #6 "Changesets are taken in wrong order from Changelog class"
should be: ordered by definition place (up -> down)
it is: ordered from the bottom to the first one

[2014-07-30 18:17] lstolowski opened #7 "Implement runAlways and runChange for changesets"

[2014-07-30 19:20] #6 closed, assigned to lstolowski

[2014-07-30 19:21] #2 closed, assigned to nobody

[2014-07-30 19:23] lstolowski opened #8 "add fongo to tests"

[2014-07-31 21:31] #8 closed, assigned to nobody

[2014-07-31 21:32] #1 closed, assigned to nobody

[2014-07-31 21:32] #3 closed, assigned to lstolowski

[2014-07-31 21:32] #4 closed, assigned to nobody

[2014-07-31 21:32] #5 closed, assigned to nobody

[2014-07-31 21:32] #7 closed, assigned to nobody

[2014-08-01 17:00] mongobee opened #9 "Wiki update: MongoUri support for Mongobee object"
new way to configure mongobee --> update wiki

[2014-08-02 07:29] mongobee opened #10 "Change package name due to artifactId"

[2014-08-02 20:39] #10 closed, assigned to nobody

[2014-08-04 19:08] mongobee opened #11 "TRavic-CI failed"
add pom profiles

[2014-08-05 08:09] #11 closed, assigned to nobody

[2014-08-05 08:09] #9 closed, assigned to nobody

[2014-09-27 18:10] mongobee opened #12 "unique changeset's id name among all changelogs"
check during boot

[2014-09-27 18:11] mongobee opened #13 "'model' object injection"
args support in changesets

[2014-09-27 18:12] mongobee opened #14 "unique index on dbchangelog collection"
work out a unique constraint for changesets and add a collection index for it

[2014-09-27 18:13] mongobee opened #15 "huge operations support (files?)"
json files for big inserts/updates/delete
File util object injected to changeset method -> helper method for parsing json files

[2014-09-29 23:16] sdavids opened #16 "Capitalization"
Please use Camel Case:

https://google-styleguide.googlecode.com/svn/trunk/javaguide.html#s5.3-camel-case

Changelog => ChangeLog
Changelogs => ChangeLogs
Changeset => ChangeSet

also the corresponding methods & variables

[2014-09-29 23:21] sdavids opened #17 "unnecessary commons-lang3 dependency"
Please do not pull in _commons-lang3_ just for

[code]

You already have a (transitive) dependency on spring-core so you can use:

[code]

[2014-10-08 11:21] lstolowski opened #18 "remove org.reflections"
it makes problems with gradle integration (javassist.version property conflicts happened)

[2014-10-08 20:06] #17 closed, assigned to nobody

[2014-10-09 07:59] #16 closed, assigned to nobody

[2014-11-08 20:10] #12 closed, assigned to nobody

[2014-11-08 20:13] mongobee opened #20 "clean up mongobee.execute() checked exceptions"
for manual mongobee invocation it is annoying to have several checked exceptions to handle.
todo: aggregate into one exception

[2014-11-20 14:34] abelski opened #22 "unresolved dependency on jfrog.jade"
Clear .m2 folder and try mvn package

[WARNING] The POM for org.jfrog.jade.plugins.common:jade-plugin-common:jar:1.3.8 is missing, no dependency information available
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 0.485s
[INFO] Finished at: Thu No

[2014-11-20 22:22] #22 closed, assigned to nobody

[2014-11-21 14:38] #20 closed, assigned to nobody

[2014-11-26 18:46] abelski opened #24 "Fix wiki"
@ChangeSet(order = "004", id = "someChangeWithSpringDataTemplate", author = "testAuthor")
public void someChange(MongoTemplate jongo) {
  // type: org.springframework.data.mongodb.core.MongoTemplate
  // Spring Data integration allows using MongoTemplate in the ChangeSet
  // example:
  mongoTemplate.save(myEntity);
}

MongoTemplate jongo rename to mongoTemplate

[2014-11-26 19:00] #24 closed, assigned to nobody

[2014-11-26 19:08] abelski opened #25 "Support Spring IoC"
How can one changes that will work in Spring IoC (@Autowire Inject and other)? You can make such Annotation @SpringConfigured or other way?

[2014-11-27 09:35] #25 closed, assigned to nobody

[2014-12-08 19:20] #18 closed, assigned to nobody

[2014-12-10 14:59] #14 closed, assigned to nobody

[2015-02-21 13:41] abelski opened #26 "Start fail"
Has problem with startmongo bee in my env.

STACKTRACE

org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.createBean(AbstractAutowireCapableBeanFactory.java:476)
        at org.springframework.beans.factory.support.AbstractBeanFactory$1.getObject(AbstractBeanFactory.java:302)
        at org.springframework.beans.factory.support.DefaultSingletonBeanRegistry.getSingleton(D

[2015-03-02 20:31] mongobee commented on #26
is Runner  class a spring bean? Is the bean defined in xml (I cannot see @Bean annotation)? Do you use Spring boot or any other Spring version (which)?

BTW if Mongobee bean is created in spring environment it is no need to run execute() method - Mongobee class is an InitializingBean and invokes "execute()" in afterPropertiesSet() method. Maybe try to run Mongobee as a bean (like in example in wik

[2015-03-06 14:58] abelski commented on #26
Runner is spring bean (Spring 3)
I not have idea's about this, but after delete all changelogs problem was solved.
it's temporary solution for me)

[2015-05-13 11:42] RealNitro opened #28 "Release 0.10?"
We're currently using Mongobee 0.9. That version still eats most of the exceptions, making debugging of problems on remote systems hard for us. We would like to move to a version that passes the cause of the exceptions, like the current Mongobee git master does. When do you plan on releasing the next version of Mongobee, including the exception changes?

[2015-05-13 11:57] mongobee commented on #28
Hi, Actually this version is ready to release so I will do it today. Thanks for the reminder :)

[2015-05-13 11:57] RealNitro commented on #28
That's great news, thanks!

[2015-05-14 07:33] mongobee commented on #28
released

[2015-05-14 07:33] #28 closed

[2015-05-14 16:55] lstolowski commented on #13
no need

[2015-05-14 16:55] #13 closed

[2015-06-17 19:06] cowens85 opened #29 "Custom MongoTemplate support"
We use a custom MappingMongoConverter in our application. To do this with mongobee, we would need it to support custom MongoTemplates. The template that is used is currently newed up in a private method, restricting our ability to override it.

[2015-07-08 02:01] cowens85 commented on #29
Any timeline on this, or want some help with it? I wouldn't mind making the enhancement.

[2015-07-10 07:20] mongobee commented on #29
hi. I had no time recently :( If you are eager, please feel free to do that. Just make the fork and then create a pull request. I will merge it after code review :) Thanks :)

[2015-07-13 12:08] abelski opened #31 "Fix wiki"
org.springframework.beans.NotWritablePropertyException: Invalid property 'changelogsBasePackage' of bean class [com.github.mongobee.Mongobee]: Bean property 'changelogsBasePackage' is not writable or has an invalid setter method. Does the parameter type of the setter match the return type of the getter?

<bean id="mongobee" class="com.github.mongobee.Mongobee">
        <constructor-arg value="mong

[2015-07-27 19:30] cowens85 commented on #29
That looks good for completing this issue/enhancement. I'd love to be able to override the executeChangeSetMethod as well, but that may be a different enhancement. Thanks!

[2015-07-27 19:30] #29 closed

[2015-08-03 13:14] mongobee commented on #31
wiki fixed. thanks!

[2015-08-03 13:14] #31 closed

[2015-08-06 07:19] mongobee commented on #29
released in ver. 0.11

[2015-08-19 06:46] mongobee opened #32 "Check MongoDB 3 compatibility"
Tests for mongodb version 3.x

[2015-11-19 19:34] madmuffin1 opened #34 "Reduce mongobee dependencies"
I do like the idea of mongobee using Java classes instead of hard-to-maintain xml files and would love to see a plugin-structure in the near future.

Currently mongobee requires jongo, mongodb-driver and spring, in the near future (pr #33) morphia will be added.
All of these bring their own dependencies along, which sums up to ~ 8MB.

Also we experienced a version incompatibility with a jackson ve

[2015-12-17 10:32] hoegertn commented on #34
+1

[2016-01-06 18:03] colsson11 opened #35 "Multiple processes race condition?"
Hi there,

it seems to me that there is no protection from race conditions between multiple processes currently. Is this correct or am I missing something?

I'd like to use the application on-startup integration (via Spring), in an environment with multiple servers, but without additional configuration to enable Mongobee on just one server.

One idea here could be to implement a global process sem

[2016-01-07 07:34] mongobee commented on #35
Hi
No there is no such mechanism at the moment.
I see two solutions here:
1. Use 'enabled' option set to 'false' (see wiki pt. 2.1 or 2.2). You could set this flag based on some application property or server name etc...

or

2. You could use @Profile annnotation (on whole ChangeLog class) and set different Spring's profiles on different servers.

In similar cases at my work I used to implement fi

[2016-01-07 12:32] colsson11 commented on #35
Hi there,

thanks for your response.

Yeah those solutions should work, it's just that I would like to avoid having different configuration for servers, to keep things simple.

It seems like adding a global lock for the process based on the approach above should be reasonably straightforward. This could of course be opt out (or opt in?) also. If I implement this, would you be interested in merging

[2016-01-08 08:34] mongobee commented on #35
Sure, if you want. Everybody is welcome to develop this soft :)

[2016-04-13 11:24] jamesmmchugh opened #40 "Add a way to define rollback changesets"
Great tool but it would be useful to have a way to define rollbacks to changesets programmatically.

[2016-07-05 17:40] RutledgePaulV commented on #35
I noticed that a lock implementation was committed by @colsson11 . Does that mean this issue can be closed?

[2016-07-12 15:10] colsson11 commented on #35
Should be fine - closing.

[2016-07-12 15:10] #35 closed

[2016-08-11 08:47] gurrie opened #41 "Is this library still supported?"
Hi

I would like to use this library in my project but would like to know if it is still supported?

Regards
Brian

[2016-08-11 08:50] mongobee commented on #41
It is, but I need to brace myself to merge all merge requests.. :)
Soon I will have some free time to do that.

[2016-08-11 08:54] gurrie commented on #41
Ok great thanks for the quick response! And good luck :-)

[2016-08-11 08:55] gurrie commented on #41
I was also wondering whether you have ever used the library in a clustered env? From looking at the code it seems that there is a race condition whereby multiple servers could attempt the same changeset? Or am I missing something

[2016-08-11 13:56] gurrie opened #42 "Duplicate change set ids doesn't throw an error"
Hi,

It appears that if I define 2 methods with the same change set id, the migration proceeds without a problem. Should this not error? The consequence of this is that one of the changes will not actually run and the user will be unaware.

Regards
Brian

[2016-08-11 14:04] mongobee commented on #42
Yes, that is correct.
There should be an information in logs that the changset was passed over without being applied.

Maybe such information (about duplicates) it is worth to implement.

[2016-09-07 14:23] mongobee commented on #41
No, there is no such feature to prevent launching the same ChangeSet in the same time on different nodes. If nodes are using the same DB and starting mongobee process in the same time then changeset can be executed twice.

I used mongobee in multi-node architecture but we always deployed nodes one-by-one (and load balancer ensured that system is always online for end user).

Probably it is good to

[2016-09-07 14:23] #41 closed

[2016-09-07 14:24] mongobee opened #44 "Launching ChangeLogs in multi-nodes architecture"
**Problem**:
I was also wondering whether you have ever used the library in a clustered env? From looking at the code it seems that there is a race condition whereby multiple servers could attempt the same changeset? Or am I missing something

**Answer**:
No, there is no such feature to prevent launching the same ChangeSet in the same time on different nodes. If nodes are using the same DB and sta

[2016-09-07 14:25] #26 closed

[2016-09-24 23:31] kevinstembridge commented on #44
I might be missing something but does this issue address the same issue raised in #35 ?

[2016-10-23 07:42] #32 closed

[2016-10-23 07:42] lstolowski commented on #32
#38

[2016-10-25 11:14] lstolowski commented on #44
#35

[2016-10-25 11:14] #44 closed

[2016-11-25 15:34] DevWantJustHaveFun commented on #34
+1

[2016-12-09 13:39] poggio84 opened #45 "How to pass collection names into ChangeLog"
Hi guys, any suggestion on how to pass the name of the collection(s) into the `@ChangeLog` script from another class (from main for example)?

Thanks
Diego

[2016-12-09 13:50] lstolowski commented on #45
Could you describe what you want to do? Do you mean some kind of injection?

My first thought was to put there a reference to static String with the name of a collection, but I'm not sure you're asking for such solution :)

[2016-12-09 14:30] poggio84 commented on #45
Yes I had the same idea :)
I have a class annotated with `@ChangeLog` containing all my `@ChangeSet` then when I'm doing
`MongoCollection<Document> mycollection = db.getCollection("mycollection");`
I would like the "mycollection" value as class variable and be able to set it from outside. Constructor is not an option (I guess) like setters.. plus I would like to avoid spring dependency and a prope

[2016-12-09 14:54] lstolowski commented on #45
Yes, I think so.

ChangeLog class is a log of your changes. So maybe it is good to hardcode names of collections/fields/indexes in ChangeSets. It shows a state of your DB and your development in point of time and all your changes over time.
Anyway, as ChangeSets are not "checksummed" (technically, Java method cannot be checksummed) so your dynamic improvement won't brake anything :)

[2016-12-12 10:52] poggio84 opened #46 "Preventing next ChangeSet execution"
Hi guys, I need to check that the `@ChangeSet` ended completing all the expected operations and I need to prevent the execution of the next `@ChangeSet` if the check fails.
At the moment I have something like the code below but I was wondering if a more decent way exists in the tool.

`        if (checkPass) {
            System.exit(1);
        }`

Thanks a lot
Diego

[2016-12-14 12:06] AndriOsta opened #47 "Error creating bean with name 'mongobee'"
I can't create a bean.Problem is in ChangeEntryDao. Please fix it,thanks

[2016-12-14 12:44] lstolowski commented on #47
Hi

which version do you use (release number or checked out from gitlab)?
Could you please paste a Stacktrace or some logs?

[2016-12-14 13:41] AndriOsta commented on #47
@lstolowski
I'm using   <version>0.12</version>
Yep,sure:
Exception in thread "main" org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'mongobee' defined in com.leancase.app.Application: Bean instantiation via factory method failed; nested exception is org.springframework.beans.BeanInstantiationException: Failed to instantiate [com.github.mongobee.Mongobee]: Fa

[2016-12-14 13:46] AndriOsta commented on #47
@lstolowski
Reused version to 0.9 and know evrything is ok

[2016-12-14 13:46] AndriOsta commented on #47
@lstolowski
Reused version to 0.9 and know evrything is ok

[2016-12-15 09:48] lstolowski commented on #47
I will take a look at the current version.

[2016-12-15 09:55] lstolowski commented on #45
Hi @poggio84
Do you have any other questions or concerns about this issue?

[2016-12-15 10:16] poggio84 commented on #45
No I'm fine
Thanks for your help

[2016-12-15 22:23] #45 closed

[2016-12-15 22:37] lstolowski commented on #47
Hi, It looks like a problem with building your app or some mess with your maven's dependencies... Did you try to clean your project?
Maybe take a look at http://stackoverflow.com/questions/40912639/mongodb-with-java-exception-in-thread-main-java-lang-noclassdeffounderror-org

In mongobee:0.12 I changed mongo-java-driver to 3.3.0 (from 2.12.2). Maybe mongo driver has some dependencies changed and y

[2017-01-27 17:01] maitrerobert opened #48 "Not working without spring"
The [documentation](https://github.com/mongobee/mongobee/wiki/How-to-use-mongobee#3-manual-usage--)  seems to say that mongobee is usable without spring.
When doing so, we have the following exception :
[code]
This is normal since `Mongobee` extends `InitializingBean `. Maybe the documentation should be more explicit about that ? Or is there a way to use mongobee without spring that is not written

[2017-01-30 23:49] roytruelove opened #49 "Enforce uniqueness for `ChangeSet.id`"
Currently you won't get any errors if you replicate an id in a `@ChangeSet` annotation; these should ideally be validated up front

[2017-02-06 19:34] salimchami opened #50 "Codecs for nested entities"
Hello!

What about nested entities ?
How can we do to serialize automatically entities with nested ones ?

I have multiple entities and nested entities, and when I execute db migration, I have this exception :

[code]

[code]

[2017-02-07 06:58] mongobee commented on #50
It looks like problem with official mongodb driver. Mongobee relies on that driver.
Maybe try this: http://stackoverflow.com/questions/31237849/cant-find-a-codec-for-class-com-mongodb-basicdbobject-error-in-java-using-mondo#35856263
You can specify your MongoClient.

[2017-02-07 21:29] salimchami commented on #50
Thanks for your response.

I always have the same problem. Here is my mongobee method for db migration :

[code]

It's the jhipster databaseconfiguration class.
In my change, i have only a simple dbCollection.insert...
But the inserted entity contains a nested entity (Address).

[2017-04-06 15:18] ejrav commented on #34
+1

[2017-05-18 10:27] nickcodefresh opened #55 "How do I inject spring beans in to a ChangeLog class?"
It doesn't seem possible at the moment, as the package scan seems to fail if I try it.

[2017-05-19 05:38] lstolowski commented on #55
I confirm, it is not possible. The feature was not designed

[2017-05-19 05:38] #55 closed

[2017-05-21 03:13] agiannone commented on #34
+1

[2017-06-07 10:46] #49 closed

[2017-06-07 10:47] lstolowski commented on #49
fixed by @lyashenkoegor

[2017-06-07 10:49] lstolowski commented on #40
mongodb is a no-transactional db. This feature would be to complicated for such simple tool.

[2017-06-07 10:49] #40 closed

[2017-06-27 15:05] fpozzobon commented on #48
Hi there,
late answer about that issue but as I had the same problem, I created the library https://github.com/migbee/migbee strongly inspired from this one.

[2017-07-07 19:55] lucjross opened #57 "Could use flexibility in how ChangeLogs are located"
Hello, @lstolowski,

I've found mongobee very handy but the way it locates ChangeLogs by a package name wasn't flexible enough for me. I pulled all the ChangeLog scripts into Spring as beans so that I could proxy them with some common code. That meant that I couldn't allow Mongobee to just instantiate ChangeLogs from their classes. So I subclassed Mongobee and overrode a lot of it so that it would

[2017-07-11 09:53] lstolowski commented on #57
Please do a PR with your proposal.
Please remember to write tests, and ensure your solution is backward compatible (default behaviour of ChangeLog classes should be as it was in the past). Good luck :)

[2017-07-13 08:14] lstolowski opened #58 "Refactor Mongbee.executeChangeSetMethod to be able to mix different arguments (more flexibility mentioned in #51)"
comment in #51

[2017-07-27 05:31] derekbassett commented on #34
+1

[2017-07-27 07:08] derekbassett opened #60 "Remove the requirement of Spring Dependency"
We use mongobee with Dropwizard instead of Spring.  The dependency on Spring is very heavy weight.  I have figured out a way without changing the overall architecture to suppress the need to have spring in your classpath.

[2017-07-27 07:38] lstolowski commented on #60
Thanks, I'll take a look

[2017-07-28 18:06] #60 closed

[2017-08-01 23:32] derekbassett commented on #48
Please look at #61 you should be able to run without Spring dependencies.

[2017-08-09 17:13] derekbassett opened #62 "Release 0.13?"
We would like to start using the Mongobee version on Master with the ability to exclude Spring dependencies.  What is the timeframe for the new release?

[2017-08-11 19:55] mongobee commented on #62
0.13 was released today. It needs some time to propagate between repos. If there is any issue, please let me know.
Have a nice day :)

[2017-08-11 19:55] #62 closed

[2017-08-20 06:35] Vatrax commented on #50
Hi.
I have the same problem. Spring data does not have any problems (saving object schema after migration) with conversion, but when using mongobee I am facing the same exception.

[2017-09-05 12:27] andrey-cabonline opened #63 "Support spring's ApplicationContext"
Right now it is possible to provide Environment to changelogs via mongobee.

Instead it would be more useful to substitute it by ApplicationContext, then it will be possible to use any bean from spring context in changelogs.

I propose to deprecate Mongobee.setSpringEnvironment(Environment environment) and replace it by Mongobee.setSpringContext(ApplicationContext context).

This change seems easy

[2017-09-07 09:34] lstolowski commented on #63
Do you wanna be a contributor? :) Feel free to implement it :)

[2017-09-07 13:22] andrey-cabonline commented on #63
Arrgghh... I'll try to prepare PR :)

[2017-09-22 16:41] SirWayne opened #65 "Spring version"
The version of the spring depedency is old. Normally this should not declared by mongobee. It's better that the project which would like to use spring with mongobee declared the spring version. I think spring should be declared as optional and provided.

[2017-10-05 12:38] chris-masterdev opened #66 "Force 2nd instance of app to wait for lock release before starting"
Hi,

I'm using mongobee in a microservice running in Kubernetes and several instances of my application can be started at the same time.
When the first instance starts it set the database lock and runs all the new changesets.
Then the second instance starts and mongobee exits because of the lock, but the application starts normally which could be a problem since changesets are still being applied

[2017-10-12 23:31] toubou91 commented on #42
Isn't this fixed by https://github.com/mongobee/mongobee/commit/5ededffff8a73e0779b562f1eaf21938d793c097 ?

[2017-10-13 15:11] toubou91 commented on #63
@lstolowski I would like to pick this up, since it will help me dig into Spring. Is there any tip/hint you would like to provide in order to save me time? I have not had that much exposure to Spring yet.

[2017-10-14 12:46] yegor256 opened #67 "Mongobee.isExecutionInProgress(): Database is not connected"
I'm trying to check, _before_ executing changes, whether another thread/server is currently executing them (to avoid collisions):

[code]

This is what I'm getting:

[code]

[2017-10-18 12:20] rowi1de commented on #66
Also the lock is not cleaned up if the Mongobee execution fails / is interrupted.
If there is a lock from a old process, you are never able to recover.

[2017-10-24 14:52] inthegarage commented on #63
As a work-around try the following...
In your mongo bees runner simply autowire your changelog:

    @Autowired
    private DatabaseChangeLog databaseChangeLog;

Don't forget to component scan it:

@ComponentScan(basePackageClasses = com.mygroup.mongobees.DatabaseChangeLog.class)

And the declare the change log as a component:

@Component
public class DatabaseChangeLog {

In DatabaseChangeLog Set

[2017-10-26 16:58] inthegarage opened #68 "Mongobees performs cluster command to wrong connection"
When running mongobees, I create a runner and it runs and executes all the tests just fine. Our Mongo is "in the cloud" and mongobees connects just fine.

However at the end of the run it always goes away and does some "cluster" work. I'm not sure what this is for as it has already executed all the migrations and saved (correctly) the dbchangelog.
I see the following:

[code]
Note the line "mongob

[2017-10-27 10:52] MrReda opened #69 "Possibility of rollback"
Right now we are in need of a process to rollback ,we have been using mongobee and its a good thing.
Why didn't you guys add this functionality ?
If so,i propose my self to implement it.

[2017-10-31 12:32] inthegarage commented on #69
If you do then this is probably your best option:
https://docs.mongodb.com/manual/tutorial/configure-a-delayed-replica-set-member/

[2017-10-31 16:12] MrReda commented on #69
inthegarage  thank you for your feedback,actually i was talking about adding the possibility of rollbacking the script in case of error happening during the deployment just like the Liquibase functionality,so thus we will be able to get back to previous working schema.
Let me know if this is not understandable for you.

[2017-10-31 16:27] inthegarage commented on #69
@MrReda I don't think you can roll-back scripts in Mongo, that functionality is non-existent. So for instance if you delete something, then it's gone for good.
From what I've read the replica set is the way of doing this. So you write to a replica set and then when you are happy that becomes live. I'm not sure there's any other way.

[2017-10-31 16:40] MrReda commented on #69
@inthegarage We will add a script to rollback in case of error just like liquibase.
I don't know if you are aware of that.Something similar to that could be very helpful.

[2017-10-31 16:44] inthegarage commented on #69
@MrReda  I don't know how that could work. If I'm writing changeLogs how can mongobee possibly know what to rollback? Or are you saying we would just right a simple script to reverse any changes? If we are doing a wildcard delete/update it would not be possible.

[2017-11-01 20:36] MrReda commented on #69
We will just put a script to rollback the latest played scripts.

Le 31 oct. 2017 16:44, "Peter Sherwood" <notifications@github.com> a écrit :

[2017-11-04 14:58] MrReda commented on #69
It depends about the use case.We could right a specific script in case of
rollback.
But let me explain to you one thing,when we talk about script rollback we
mean e.g.:adding new collection and later if something happen ,the
collection will be romoved (rollbacked),the same is true with users
creation or records as well.
We could make a poc and see if it worth it.

On Wed, Nov 1, 2017 at 9:48 PM, P

[2017-11-07 14:33] NearteamABE commented on #69
I think it could be a good idea to propose a mechanism to revert a ChangeSet so that it is possible to go back to a lower software version. If we compare with Liquibase,  when you use a raw SQL script (which is comparable here to mongobee since we have full access to the mongo api) it is up to the developer responsability to provide the rollback script.

[2017-11-20 15:35] dim777 commented on #63
Hi,
try to resolve it here https://github.com/mongobee/mongobee/pull/71

### Using Spring Application Context

To enable Application Context integration, please set `org.springframework.context.ApplicationContext` to you runner.

[code]

_Example 1_: change log example

[code]

[2017-11-23 14:22] ammy1999 opened #72 "A vulnerability in mongobee"
I use `<mongobee.version>0.13</mongobee.version>`
But this dependency is a vulnerability ( plugin dependency check) , it return

 

[2017-11-26 12:34] blaketsk commented on #66
#73

[2017-11-30 17:09] inthegarage commented on #68
This is caused by spring sticking some auto configuration. To avoid this use the following directive:

@SpringBootApplication(exclude = {MongoAutoConfiguration.class, MongoDataAutoConfiguration.class})

This is not a mongobee error.

[2017-11-30 17:09] #68 closed

[2017-12-12 17:20] ps-aux opened #75 "spring-data-mongodb-2.0.0 support"
Seems it does not work spring-data-mongodb-2.0.0+. `MongoTemplate` has maybe different constructor there.

[2018-01-30 09:55] abhinku2 opened #76 "Run MongoBee ChangeSet on Old Data not on new Data"
Explaining the use case with example: -
Let say we have a multi tenant web application to create users (first name, last name, age), and there are 10 users already created in tenant A.
A new requirement   came up where we need to add user_type in user and for existing users set user_type as 'Citizen', so added a change set to update existing users.
After some days new Tenant was created (Tenant B)

[2018-02-02 01:05] iceripper opened #77 "MongoDB ReadPreference not taken into account"
Hi,

I am trying to configure Mongobee to use the MongoDB Property ReadPreference.secondary() to read the data from the secondaries node.
I am trying to configure a mongoClient and configure the ReadPreference
MongoClient mongoClient = new MongoClient(Arrays.asList(new ServerAddress("35.196.116.217", 2827)));
mongoClient.setReadPreference(ReadPreference.secondary());
Mongobee runner = new Mongobee

[2018-02-08 11:49] khetho commented on #75
When using spring-boot-starter-data-mongodb version 2.0.0.RC1 the following exception is thrown

	at com.github.mongobee.Mongobee.executeChangeSetMethod(Mongobee.java:224) ~[mongobee-0.13.jar:na]
	at com.github.mongobee.Mongobee.executeMigration(Mongobee.java:185) ~[mongobee-0.13.jar:na]
	at com.github.mongobee.Mongobee.execute(Mongobee.java:156) ~[mongobee-0.13.jar:na]
	at com.github.mongobee.Mon

[2018-02-09 11:35] groothuyse commented on #75
Additionally, Mongobee depends on Spring 4.x libraries which cause conflicts with Spring boot 2 applications.

[code]

[2018-02-13 07:40] khetho commented on #75
Thanks @groothuyse  for your work around. It worked like a charm for me as well. I used AbstractMongoConfiguration  to get an instance of MongoTemplate

`@Configuration
public class Config extends AbstractMongoConfiguration {

    @Value("${spring.data.mongodb.uri}")
    private String uri;

    @Override
    public MongoClient mongoClient() {
        return new MongoClient(new MongoClientURI(uri)

[2018-03-10 13:56] samtron3030 commented on #75
This workaround work with Spring Boot 2.0.0.RELEASE as well.

[2018-03-19 10:01] SirWayne opened #78 "Contact details"
Does anyone know the contact details of mongobee?

We would like to contribute a lot to this project or is the project dead?

[2018-03-23 20:11] lstolowski commented on #78
Would be great if you find some time to contribute
I don't have time at the moment. What do you want to do, which issue you want to start with? :)

[2018-03-26 05:56] MelleD commented on #78
Can you write me an e-mail dennis.melzer@de.bosch.com? I would like to discuss a few things about the project and further cooperation

[2018-04-19 14:50] cameron-r opened #84 "Enforce non-conflicting order in changesets/logs"
Right now, I can make two changelog classes:
[code]
[code]

These will both execute, and it's not obvious what order they will execute in. I feel like mongobee should reject builds with multiple ChangeLogs sharing the same order

[2018-04-20 17:28] dieppa opened #85 "Lock expiration"
As explained in the this [PR](https://github.com/mongobee/mongobee/pull/81), there is a need for a lock expiration. It's fixed in that PR

[2018-04-23 10:26] baloo2401 opened #86 "MongoBee do not work on Atlas due to findRequiredChangeAndAuthorIndex"
In class `com.github.mongobee.dao.ChangeEntryIndexDao`
`
        MongoCollection indexes = db.getCollection("system.indexes");
`

Atlas forbid accessing to system directly to fix it I propose to update the code to
`
        MongoCollection indexes = db.getCollection(changelogCollectionName + ".indexes");
`

See [stackoverflow](https://stackoverflow.com/questions/49974594/reading-of-dbname-system-i

[2018-04-25 13:41] javisst commented on #78
It's the most feature rich migration tool for mongo. Unfortunately with too many open PRs and old dependencies. Let people help you 😄

[2018-04-26 15:29] dieppa commented on #86
Hello, I also opened an issue and made an PR like 2 weeks ago and I haven't got any feedback.As I really needed that fix and I couldn't wait, we decided to forked this repository and make available in github and maven(1.12 current version). I added some features such as lock expiration(specially useful in containerised environments like Kubernetes) and that index issue.

Feel free to use it and co

[2018-04-26 15:32] baloo2401 commented on #86
Oh Thank you very much @dieppa

I will maybe switch to your fork then.

I wanted to propose a PR but I could not do it maybe I will help on your fork then.

[2018-04-26 15:39] dieppa commented on #86
Great. as you can see still need much test coverage, but we have tested here and works fine.
Hope it helps

[2018-04-26 15:52] baloo2401 commented on #86
Maybe i can help writing some test cases

Le jeu. 26 avr. 2018 11:39, Dieppa <notifications@github.com> a écrit :

[2018-04-26 17:18] dieppa commented on #86
That would be great!

[2018-05-07 06:22] peanutpi commented on #86
@dieppa : have you released it publicly on maven or anywhere else ?

[2018-05-07 11:32] dieppa commented on #86
@peanutpi: It's published. You can find it in: https://mvnrepository.com/artifact/com.github.cloudyrock/mongock/1.12

[2018-05-07 11:34] dieppa commented on #86
Github repository https://github.com/cloudyrock/mongock

[2018-05-30 07:49] arnauvp commented on #84
I personally think it's better the way it is. We are just starting to use MongoBee and we thought what would happen with git merges, whether we would get conflicts or not. Imagine having to fix always the order to guarantee uniqueness in case of clashes. It would happen usually. Instead, if they are unrelated changes and the queries are well written, it wouldn't matter which is executed first.

[2018-05-30 07:53] arnauvp commented on #76
We have a multi-tenant setup also. We have a common database where we keep the migration log, we do not keep one for each tenant. In our case, new databases created do not need to run any of the migrations since the code already works in the new way (collection names, fields, whatever).

[2018-05-30 07:56] arnauvp commented on #42
It is, I found this case during development on 0.13. Is this project even maintained?

[2018-06-29 01:58] mitchjust opened #92 "0.14 Release"
Is a 0.14 release planned? I'm keen to use the lock handling features recently added.
Thanks!

[2018-07-20 14:29] Hronom commented on #75
Yep, thanks for workaround. But also interested when you will add official support for Spring 5 and Spring Boot 2.0.0?

It's good time now, since they have official release for Spring Cloud platform.

I can try to provide PR, but it's not clear to me what workflow you wanna have to provide support for Spring 4 and 5 at the same time.

[2018-08-07 14:43] caseyprogramming opened #95 "incremental deployment"
I would like to know if there is way to implement incremental deployment using mongobee, I know that out of the box it will only implement changes for id's that have not been ran in the past. And I have seen that there is way to make it runAlways, but is there a way to make it skip over an id? without having to comment them out?
for example some sort "skip"

[2018-08-07 14:59] shanedeeodonnell commented on #92
I would also like to know. The Spring 2.x PR would be very useful for me

[2018-08-07 23:29] shanedeeodonnell commented on #75
I'm getting the same error when I use runAlways = true, even with the workaround. Does anyone have a tweak to @groothuyse and @khetho's workarounds while we wait for the PR to be merged?

[2018-08-22 09:08] BorisPerevalov opened #96 "Changelogs with the same order"
When some changelogs have the same order it should be better to consider them as the same changelog. I mean sort and apply their chansets together instead of applying the whole changelogs in random order. It would allow to group different kinds of changesets (i.e. by profiles) in separate changelog files.

[2018-09-05 17:08] redent commented on #75
Just a small update, if you set the MongoTemplate you don't need to pass the URI to the constructor. You still need to pass the database name, but the config is very simple. If you're using Spring Data, MongoTemplate can be injected by Spring, so no need to extend AbstractMongoConfiguration This code works for Spring Boot 2.0 (Kotlin):

[code]

[2018-09-06 09:23] nuvitong commented on #92
Are there any news regarding a planned release? I would really appreciate, if there would be any.

[2018-10-01 13:26] moguncool opened #97 "Mongobee - Create new Document with validation Example in Kotlin"
Hi I'm trying to create a new document using mongobee and validate the document when creating it.. I have used

db.runCommand({
  collMod: “user”,
  validator: { $jsonSchema: {
  bsonType: "object",
  required: ["name”,”email”],
  properties: {
     name: {
        bsonType: "string",
        description: "must be a string and is required"
     },
     Email: {
        bsonType: "string",

[2018-10-03 10:42] wertklop opened #98 "Throws UncategorizedMongoDbException on delete index"
I have changeset with operation
[code]
Index _myIndex_ not exist, throws exception with message:

I need drop index, but if it not exist, delete operation has been done success too

[2018-10-12 06:42] michalfuhrmann commented on #42
Would it be possible to add PR with configurable behaviour whether it should throw exception or not in case there is clash of methods or run it anyway ?

[2018-10-12 06:47] michalfuhrmann commented on #84
For me these are some bad assumptions. It is really common to have a dependencies on some previous schema so it would be good to make sure there are no random behaviour when it comes to order of migrations script executed.

As to your argument about git mergies I think in other tools like liquibase it is working without any problems so I don't see what would be the issue here.

Personally I think

[2018-10-17 12:51] sgrillon14 commented on #65
I use
mongobee 0.13
fongo 2.2.0-RC3-SNAPSHOT
mongodb-driver 3.8.2

When I run my app, I have this error:

`org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'mongobeeStandalone' defined in class path resource [com/myproject/company/configuration/MongoConfiguration.class]: Invocation of init method failed; nested exception is java.lang.AbstractMethodError: com.m

[2018-10-22 19:42] chamini2 commented on #50
Bump

[2018-10-28 08:49] zy4 commented on #40
Well, this changed with [MongoDB 4.0](https://www.mongodb.com/transactions).
Are you interested in a PR for supporting this feature?

[2018-10-31 10:41] salimchami commented on #50
The solution is to add a codec registry :
http://mongodb.github.io/mongo-java-driver/3.7/driver/getting-started/quick-start-pojo/

[2018-10-31 10:41] #50 closed

[2018-11-14 13:56] cybuch commented on #98
Have you thought about catching an exception there? Or maybe check if the index exists and if it does then delete it?

[2018-11-14 13:59] cybuch commented on #96
I don't understand the gain of applying your proposal, but in readme you've got section dedicated to Spring profiles.

[2018-11-14 16:16] wertklop commented on #98
Why not embed a check into the removal method and not throw exception?

[2018-11-14 23:36] cybuch commented on #98
Well there might be several exceptions that some users would like to ignore and other wouldn't, therefore I think it's the best as it is. Also this project seems to be dead, there's important PR and it hasn't been reviewed for more than 3 months I guess it's time to fork this repo

[2018-11-15 11:26] carlvonderheid opened #99 "ChangeSet.order() and ChangeLog.order() should be Integers"
In the examples, it looks like you're intending them to be numeric.  If they are strings, when you get to "10", the ChangeLogComparator and ChangeSetComparator will put "10" before "9".

[2018-11-15 11:40] #99 closed, assigned to nobody

[2018-11-15 11:41] carlvonderheid commented on #99
My apologies, I was looking at decompiled code, not the original source.  Did not have the comments.

[2018-11-30 18:26] cybuch commented on #92
I've forked mongobee and relased it on my own: https://github.com/cybuch/mongobeeJ I'm going to maintain it, because I use it in commercial projects and mongobee doesn't seem to be maintained anymore ;/

[2019-01-22 15:23] panagath opened #100 "Mongobee does not follow SpringBoot2 lifecycle"
We were using mongobee (latest) on SpringBoot 1.5.X version and it used to block the service from starting until all the migrations were done. We could also set on which profiles to run specific migrations.

Now we have moved to SpringBoot 2.0.16 and unfortunately mongobee does not follow the above pattern. It ignores the SBT lifecycle and does not block SpringBoot from starting. Also it ignores a

[2019-01-23 23:01] cybuch commented on #100
This project is not maintained anymore. I've made a fork with Spring Boot 2 support and I could fix your problems if you wish to use it. If you want to keep using mongobee instead of forks, then I'd suggest to switch the tool, because your change won't be fixed (look at other issues).

[2019-01-23 23:03] cybuch commented on #97
Why do you need such validations?

[2019-02-08 03:51] crummy opened #101 "execute() not triggered when Mongobee @Bean is in a @SpringBootTest"
I have a @Bean-provided Mongobee implementation with Spring Boot 1.5.8, and it works fine for my main application.

However, I'd like to replace the bean for my integration tests. When I debug my tests, my test @Bean is called, but the `execute()` method is never called in Mongobee. In my log output, I never see my migrations running either.

Do I need to do something special to get Mongobee to ru

[2019-02-26 06:12] sudheer-rayanapati commented on #72
Is there any fix to this vulnerability?
I don't see any updates after 0.13.

[2019-02-26 14:24] cybuch commented on #101
Is `Mongobee` enabled? Also what about application logs? Are there any errors? You could try to create `@Bean` that are also annotated as `@Profile` and check if that works.

[2019-04-24 10:18] kannangce commented on #63
I'm using the latest version `0.13` . I don't have a method named `setSpringApplicationContext` under `Mongobee`

[2019-05-10 11:47] oharsta commented on #75
Bit late to this party, but if you use the no-arg constructor of `Mongobee` it defaults to using the default host and port. If you are running against a remote mongo cluster or any other instance where the defaults not apply you need to pass in the full URI using `MongoClientURI` or create a separate `MongoClient` which is used by `Mongobee` to create the `dbchangelog` collection.

[2019-06-19 11:36] vladmm opened #103 "Update org.reflections"
Update org.reflections:reflections from 0.9.9 to latest (0.9.11 currently) to use Guava 20. Currently 0.9.9 reflections version brings Guava 15.0 as dependency.

[2019-08-27 11:32] amitsadafule opened #104 "Mongobee fails on mongo 4.2 with 'not authorized on testdb to execute command { find: "system.indexes", filter: { ns: "testdb.dbchangelog", key: { changeId: 1, author: 1 } } ...'"
I have user with `readWrite` role in mongo 4.0.2. Mongobee initialises perfectly on this mongo version. Recently I have upgraded mongo to 4.2.0. After this upgrade, application is not starting and failing with
`Caused by: com.mongodb.MongoQueryException: Query failed with error code 13 and error message 'not authorized on testdb to execute command { find: "system.indexes", filter: { ns: "testdb.db

[2019-08-27 11:58] amitsadafule commented on #104
https://docs.mongodb.com/manual/reference/system-collections/#%3Cdatabase%3E.system.indexes

As per this system.indexes is deprecated.

[2019-08-28 14:27] mnegrean commented on #63
That's because the PR where this was implemented (#71) was never merged. It was approved but the compilation failed due to some import lost at merge.

[2019-09-19 12:01] mkulle commented on #104
@lstolowski

I have the same issue.

I found deprecated code here:

https://github.com/mongobee/mongobee/blob/4e1ec5e381121fc9e5ad54881c84029114bafa52/src/main/java/com/github/mongobee/dao/ChangeEntryIndexDao.java

[2019-09-19 12:45] amitsadafule commented on #104
It came out to be privilege issue.. I have answered it https://stackoverflow.com/questions/57721306/getting-not-authorized-for-query-on-testdb-system-indexes-src-mongo-db-commands/57870446#57870446

[2019-10-02 12:44] amitsadafule commented on #104
@mongobee : I have raised below PR for above issue.
https://github.com/mongobee/mongobee/pull/106

[2019-10-08 20:48] tfij opened #107 "java.lang.ClassNotFoundException: org.springframework.data.mongodb.core.convert.MongoCustomConversions"
Hi,
I use spring but not spring data. When I added mongobee to gradle
[code]
my application has stopped running. There is an exception on start:
[code]
Adding mongobee to gradle is the only change.
How to use mongobee in my setup?

[2019-10-18 14:41] sreeramanathan opened #108 "Only one package can be configured to be scanned recursively for changelogs"
Only one package can be configured to be scanned recursively for changelogs. Need support for passing multiple packages containing changelogs so that there is flexibility in organising changelogs in the code. We would like to organise changelogs into multiple packages and pick and choose the packages to be run in an environment based on some context. For eg. having changelogs in packages "common",

[2019-10-30 17:38] gjbaxter opened #110 "Add support for reactive streams Mongo driver"
Reactive streams allow us to do some things asynchronously.

[2019-11-27 11:56] MaRodeR commented on #63
Workaround without a static spring context. Mongobee allows to use the Environment. Try to make a **decorator** with an application context for it:
[code]
Set `SpringEnvironmentWithContext` to `springEnvironment` property of `mongobee`:
[code]
Example of getting the `ApplicationContext` from the `Environment`:
[code]

[2019-12-03 10:17] atondoux opened #112 "Add support for multiple databases"
Hello,

We have an app that deals with multi tenancy at database level: shared application, separate database (one mongo database per tenant).

Is there a way to apply a mongobee script to a given list of known databases ?

Thanks for you help.

[2019-12-06 12:51] SimonScholz opened #113 "Data access and modification during a db migration"
Hi,

We´re using Spring Boot 2 with Spring Data in order to access our mongo db database.

I am wondering how Mongobee behaves when data is accessed or modified during a db migration.
Will mongo db handle this gracefully or will this cause exception or undesired sideeffects?

Thanks for letting me know.

[2020-01-10 17:47] DanielFran commented on #103
Version 0.9.12 is out: https://search.maven.org/artifact/org.reflections/reflections/0.9.12/jar

[2020-01-14 09:18] #78 closed

[2020-01-19 18:19] vladmm commented on #103
Hi @DanielFran,

It seems however that this repository is no longer actively maintained (last merged commit was 2 years ago). I don't know what the best solution would be, but until the repository owner(s) replies, perhaps a fork is the only suitable solution.

[2020-03-05 10:48] danarth commented on #112
We have an app that requires us to apply different change sets to different databases. We have a different `Mongobee` instance for each database, but obviously the currently observed behaviour is that all change sets are being applied by each Mongobee instance. This leaves unwanted collections in each database.

@atondoux Is this similar to the problem you are having?

It would be useful if we cou

[2020-03-25 07:32] ameyg7 commented on #35
1)Consider case having node1 & node2...both are getting started simultaneously
2)node 1 acquired lock before node 2..consider changelog has almost 50 DB scripts which has to be executed on DB.

So which of the case will work as per the solution implemented?
1)Node2 will be on halt till the time lock is released from node 1 & node 2 will start further execution once all 50 scrips have been executed

[2020-05-07 21:25] mh-mbhojane opened #114 "The following method did not exist: 'void org.springframework.data.mongodb.core.MongoTemplate.<init>(com.mongodb.Mongo, java.lang.String)'"
Get this error when using MongoTemplate in changeset.

**ERROR**

Description:

An attempt was made to call a method that does not exist. The attempt was made from the following location:

    com.github.mongobee.Mongobee.executeChangeSetMethod(Mongobee.java:224)

The following method did not exist:

    'void org.springframework.data.mongodb.core.MongoTemplate.<init>(com.mongodb.Mongo, java.lang.

[2020-05-21 12:26] pkubowicz opened #115 "Switch from mongo-java-driver to mongodb-driver-sync"
Currently using mongobee with Spring Data Neumann causes clash of classes from Mongo driver 3.3.0 (pulled by mongobee) and 4.0.3 (pulled by Spring Data). See lukas-krecan/ShedLock/issues/253 where I described what will happen, why it happens and how it can be fixed.

[2020-05-27 13:05] judomu commented on #115
Same issue here. Any chance to update to Mongo driver 4?

[2020-05-27 13:48] pkubowicz commented on #115
I decided to wait for release 4 of Mongock: https://github.com/cloudyrock/mongock/tree/v4#version-400

It's backward compatible with mongobee: https://github.com/pkubowicz/mongock4

[2020-06-09 16:52] cxrdevx commented on #110
this tool not works with

[code]

[2020-06-11 08:03] oliverlockwood opened #116 "As this repo appears abandoned..."
This repo has no commits since March 2018, and the owners appear to be ignoring all issues raised and all PRs submitted.

If one of the owners (@mongobee @lstolowski) would like to invite others to take over maintenance of this repo, I am willing to do so. Please offer my account the ownership of the repo and I will take things forward.

If (as I expect) the owners also ignore this message, then I

[2020-07-17 03:07] rohitgubrele8 commented on #104
Version 0.9 of Mongobee is an older version on MongoTemplate witch has been discontinued from Mongo 4.2. Extend the Mongobee class and update the MongoTemplate object to a newer Mongotemplate constructor( MethodName -> "executeChangeSetMethod"). This resolved the problem for me without any changes in roles.

[2020-07-22 20:49] mjustin commented on #116
Incidentally, this is not the first public fork of the project to exist to fix that issue.  [cybuch/mongobeeJ](https://github.com/cybuch/mongobeeJ ) forked back in November 2018, and fixed this issue in their second release.

* https://github.com/mongobee/mongobee/issues/92#issuecomment-443294813
* https://github.com/cybuch/mongobeeJ/releases/tag/mongobeej-0.15

Might be worth consolidating these

[2020-07-23 17:19] mjustin commented on #116
Another mongobee fork that exists, and one which is actively under development, is [Mongock](https://github.com/cloudyrock/mongock). It looks like they fixed the issue back in April 2018 (https://github.com/cloudyrock/mongock/commit/13445a77b4cf978c6159db3bb9a67bbf1f5df5a6).

This is definitely an evolved/divergent fork, as it has built-in support for Spring/Spring Boot, support for version 4 of t

[2020-07-27 17:55] dieppa commented on #116
@oliverlockwood , this library has been unmaintained since 2018, at least. I did a [PR](https://github.com/mongobee/mongobee/pull/81) myself to provide a proper lock mechanism and never was even reviewed. That's why initially forked it and created Mongock. It's getting notorious and it is being used by JHipster for their next version.

As @mjustin said, It has been maintained and improved with mul

[2020-08-12 07:13] Bing-ok opened #119 "“NoSuchMethodErrors” due to multiple versions of org.mongodb:mongo-java-driver:jar"
## Issue description
Hi, there are multiple versions of **_org.mongodb:mongo-java-driver_** in **_mongobee-master_**. As shown in the following dependency tree, according to Maven's “nearest wins” strategy, only **_org.mongodb:mongo-java-driver:3.3.0_** can be loaded, **_org.mongodb:mongo-java-driver:2.12.3_** will be shadowed.

However, several methods defined in shadowed version **_org.mongodb:m

[2020-08-13 12:38] Bing-ok commented on #119
Could you help me review this issue? 👍 Thanks! @mongobee

[2020-08-20 14:13] oliverlockwood commented on #116
For those of you coming to this thread now:

After we came to upgrade our platform to use the v4.x mongo drivers, with the move from Spring-Boot 2.2 to 2.3, we realised that more work would be needed to get mongobee supporting it.  We gave a move to Mongock a try and I'm pleased to report that with the legacy migration capability (https://www.mongock.io/legacy-migration) it was a very easy migrati

[2020-08-20 21:18] dieppa commented on #116
Thanks for trusting [Mongock](https://www.mongock.io). Currently the team is on holidays, but anything you find improvable, please let us know. @mjustin is helping us a lot.

Cheers

[2020-08-23 19:20] mjustin commented on #92
The maintainers of mongobeeJ have deprecated it as of August 2020, with a suggestion to use an actively maintained library such as [Mongock](https://github.com/cloudyrock/mongock) instead.

However, it's recommended to migrate active projects from **mongobeeJ** to other tools like [Mongock](https://github.com/cloudyrock/mongock) or [Sherlock](https://coditory.github.io/sherlock-distributed-lock/mi

[2020-08-23 19:36] mjustin-rr19 commented on #115
By all appearances, this project was abandoned in 2018.  [Mongock](https://www.mongock.io) is an actively maintained successor library which [supports migration from Mongobee](https://www.mongock.io/legacy-migration#mongobee-scenario).  Migrating to Mongock will be the most straightforward option in your situation.

[2020-08-23 19:36] mjustin-rr19 commented on #119
By all appearances, this project was abandoned in 2018.  [Mongock](https://www.mongock.io) is an actively maintained successor library which [supports migration from Mongobee](https://www.mongock.io/legacy-migration#mongobee-scenario).  Migrating to Mongock will be the most straightforward option in your situation.

[2020-08-23 19:37] mjustin-rr19 commented on #114
By all appearances, this project was abandoned in 2018.  [Mongock](https://www.mongock.io) is an actively maintained successor library which [supports migration from Mongobee](https://www.mongock.io/legacy-migration#mongobee-scenario).  Migrating to Mongock will be the most straightforward option in your situation.

[2020-10-23 13:00] #119 closed, assigned to nobody

[2020-11-20 06:42] pradipta opened #122 "Build issue with Java 11 | Spring 5 | Mongo Reactive"
I am using Spring Boot 2.3.5, Java 11 and Mongo Reactive dependancy. Unable to build project with Mongobee for db migrations.
Stack trace:

[code]

[2020-11-25 10:55] headfox23 commented on #122
Same here...seems not compatible with latest spring boot data library

[2020-11-25 13:04] pradipta commented on #122
@headfox23 Mongobee seems to be inactive now. Try out Mongock. I am looking into it.

[2020-12-11 22:24] jjalvarezl commented on #104
Hi.

I'm using mongobee on a mongodb 4.4 version. Anyway this worked for me:

I'm not using gradle, so I builded my solution in maven. Here is like the same but in the pom.xml file I've remplaced this:

[code]

Into this:

[code]

And worked like a champ. I hope it would be useful.

Thanks to @amitsadafule for your improving mongobee.

[2021-01-06 08:14] baphuc1998 opened #123 "Cannot use mongobee in Spring Boot 2.4.1"
I am using Spring Boot 2.4.1 and integrating mongobee. But I got an error after running the project.
[code]
**Additional context**
- Spring Boot 2.4.1
- Mongobee 0.13
- Java 11

[2021-04-08 09:38] igor7schipanov commented on #123
Try to exclude `mongo-java-driver`

[2021-04-26 09:58] vaibhavgaikwad commented on #104
Thanks You save my day....

[2021-05-12 20:45] gelfandbein commented on #104
sometimes need to 'votes=0' on hidden replicaSet member, like delay secondary in my way :)

[2021-05-21 09:18] ghost commented on #123
move to mongock. Migration is easy, mongobee is dead

[2021-05-21 09:18] ghost commented on #122
migration to mongock is simple and easy. mongobee is dead

[2021-06-22 06:47] omaryasser commented on #101
Also make sure that the `@Bean` is created in a class that is annotated with `@Configuration`.

[2021-11-10 16:59] MohanCylsys commented on #22
please give reference how you fixed it this issue.